{% extends "templates/base.html" %}
{% block title %}
    Home
{% endblock title %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="assets/css/home.css" />
{% endblock head %}
{% block main_content %}
    <h1>Home</h1>
    <h5>
      {{ description }}
    </h5>
    <div class="padding-v-medium">
        <div>
            {% if user %}
                You are logged in as: <strong>{{ user }}</strong>
            {% else %}
            <div>
                You are not currently logged in.
            </div>
            {%  endif %}
        </div>
        <div>
            <a class="btn btn-primary" href="{{ url|safe }}">{{ url_linktext }}</a>
        </div>
    </div>

    <div class="padding-v-medium">
        <h3>Examples:</h3>
        <p><a href="/examples">Click here for some examples of what this webapp does.</a></p>
    </div>
{% endblock main_content %}
{%  block sidebar %}
    <div class="sidebar-module sidebar-module-inset">
        <h4>Title</h4>
        <p>Content</p>
    </div>
    <div class="sidebar-module sidebar-module-inset">
        <h4>Title</h4>
        <ol class="list-unstyled">
            <li><a href="/examples">Examples</a></li>
            <li><a href="#">Example Link</a></li>
            <li><a href="#">Example Link</a></li>
            <li><a href="#">Example Link</a></li>
        </ol>
    </div>
{%  endblock sidebar %}